@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
<<<<<<< HEAD
  --background: #ffffff;
=======

  --h1-color: #C20E1A;
  --background: #E8E8E8;
>>>>>>> e81d02fa03943ebade2d7e9c65e66fe0f1932c5c
  --foreground: #970000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #e03f3f;
    --foreground: #ededed;
  }
} */
h1 {
  color: var(--h1-color);
  font-weight: bold;
  font-size: 1.5rem ; /* Cambia el color a rojo */
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Helvetica, sans-serif;
}
