@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1-color: #c20e1a;
  --background: #e8e8e8;
  --foreground: #970000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #e03f3f;
    --foreground: #ededed;
  }
} */
h1 {
  color: var(--h1-color);
  font-weight: bold;
  font-size: 1.5rem; /* Cambia el color a rojo */
}

input {
  border-radius: 1rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
  border-width: 1px;
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Helvetica, sans-serif;
}
