@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1-color: #c20e1a;
  --background: #e8e8e8;
  --foreground: #970000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #e03f3f;
    --foreground: #ededed;
  }
} */
h1 {
  color: var(--h1-color);
  font-weight: bold;
  font-size: 1.5rem; /* Cambia el color a rojo */
}

h2 {
  color: var(--h1-color);
  font-weight: 600;
  font-size: 1.25rem; /* Cambia el color a rojo */
}

input {
  border-radius: 1rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
  border-width: 1px;
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Helvetica, sans-serif;
}


/* Estilos para inputs */

.inputs-textfield .MuiOutlinedInput-root {
  border-radius: 1rem; /* Borde redondeado */
}

.inputs-textfield .MuiOutlinedInput-root fieldset {
  border-color: #757575; /* Borde normal (gris oscuro) */
}

.inputs-textfield .MuiOutlinedInput-root:hover fieldset {
  border-color: #c20e1a; /* Borde al pasar el mouse */
}

.inputs-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #c20e1a; /* Borde al enfocar */
}

.inputs-textfield .MuiInputLabel-root {
  color: #757575; /* Color inicial del label (gris) */
}

.inputs-textfield .MuiInputLabel-root.Mui-focused {
  color: #757575; /* Color del label al enfocar (gris oscuro) */
}

.inputs-textfield .MuiOutlinedInput-root.Mui-error fieldset {
  border-color: red !important; /* Borde rojo cuando hay error */
}

.inputs-textfield .MuiInputLabel-root.Mui-error {
  color: red !important; /* Color del label cuando hay error */
}

.inputs-textfield .MuiOutlinedInput-root.Mui-error:hover fieldset {
  border-color: darkred !important; /* Borde más oscuro al pasar el mouse */
}


.selects .Mui-checked {
  color: #c20e1a; /* Color del check */ 
}


/*  */

.inputs-textfield-readonly .MuiOutlinedInput-root {
  background-color: #e8e8e8;
  border-radius: 1rem; /* Borde redondeado */
}

.inputs-textfield-readonly .MuiOutlinedInput-input {
  color: #575757; /* Letra gris */
}

.inputs-textfield-readonly .MuiOutlinedInput-root fieldset {
  border-color: #757575; /* Borde normal (gris oscuro) */
}

.inputs-textfield-readonly .MuiOutlinedInput-root:hover fieldset {
  border-color: #c20e1a; /* Borde al pasar el mouse */
}

.inputs-textfield-readonly .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #c20e1a; /* Borde al enfocar */
}

.inputs-textfield-readonly .MuiInputLabel-root {
  color: #757575; /* Color inicial del label (gris) */
}

.inputs-textfield-readonly .MuiInputLabel-root.Mui-focused {
  color: #757575; /* Color del label al enfocar (gris oscuro) */
}

.inputs-textfield-readonly .MuiOutlinedInput-root.Mui-error fieldset {
  border-color: red !important; /* Borde rojo cuando hay error */
}

.inputs-textfield-readonly .MuiInputLabel-root.Mui-error {
  color: red !important; /* Color del label cuando hay error */
}

.inputs-textfield-readonly .MuiOutlinedInput-root.Mui-error:hover fieldset {
  border-color: darkred !important; /* Borde más oscuro al pasar el mouse */
}




